::root{
     --font: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     --primarycolor: #fff;
     --secondarycolor: #000;
     --tertiarycolor: #ff0000;
     --fourthcolor: #0000ff;
}